.taskbar{
    width: 50%;
    height: 10%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index:2;    
    border-radius:10px ;
    @media (max-width: 650px) {
        width: 90%;
        height: 10%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index:2;
      }
}

.leave-btn{
    border: 2px solid black;
    color: black;
    background-color: red;
    border-radius: 10px;
    width: 80px;
    z-index: 2;
    
}



.mic-btn{
    border: 2px solid black;
    color: black;
    background-color: rgb(85, 255, 0);
    
    width: 45px;
    height: 45px;
    border-radius: 50%;
    z-index: 2;
   

}
.video-btn{
    border: 2px solid black;
    color: black;
    background-color: rgb(85, 255, 0);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    z-index: 2;
    

}
.screenshare-btn{
    border: 2px solid black;
    color: black;

    background-color: rgb(85, 255, 0);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    z-index: 2;
 

}
.chat-btn{
    border: 2px solid black;
    color: black;
    background-color: rgb(85, 255, 0);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    z-index: 2;
   

}
